.productCard {
    width: calc(25% - 20px); 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    justify-content:center;
  }

  .productCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  
  @media (max-width: 1340px) {
    .productCard {
      width: calc(33.33% - 20px); 
    }
  }
  
  @media (max-width: 1032px) {
    .productCard {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 665px) {
    .productCard {
      width: 100%;
    }
  }
