.main{
    display: flex;
    justify-content: center;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
  }
  
  @media (max-width: 576px) {
    .productsContainer {
      width: 80%;
    }
  }

  
